  * {
   box-sizing: border-box;
  }


  /*GLOBAL*/

  
  body {
   margin: 0;
   width: 100%;
   height: auto;
   
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   color: white;
  }
 

 .img {
  background-size: cover;
  width: 100%;
  height: auto;
 }


 /* HEADER */

 header {
  background-color: transparent;
  padding: 2px;
  text-align: center;
 
}
 

.h1,h2,h3,h4,p{
 color:white;
 font-family: sans-serif;
 font-weight:lighter;
 line-height: 1.25;
}



 /* LOGO */

 .logo {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 .logo img {
  max-width: 50px;
  height: auto !important;
 }


 /* NAVIGATIONSBAR */
 .topnav {
  overflow: hidden;
  background-color: #00051D;
 }

 .topnav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 82px;
  text-decoration: none;
 }

    


 /* HOVER EFFECTS */
 .topnav a:hover {
  background-color: #ddd;
  color: black;
  
 }

  /* EFFECTS */

.topnav a:active {
    text-decoration:underline;
 color: aqua;
}


 /* KOLONNER */
 
 .column {
  float: left;
  width: 25%;
  padding: 15px;
  text-align: left;
 }



 .row:after {
  content: "";
  display: table;
  clear: both;
 }

 /* FLEXBOX*/

 .flex-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: transparent;
  padding: 1em;
  
 }

 .flex-box img {
  justify-content: space-around;
  border-color: white;
  border: 1px solid white;
  
 }


 /*FORSIDE*/

#forside{
 
 background-image: url('../images/hjertersort.jpg');
 background-size: cover;
  width: 100%;
 
}
 
 #box{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: transparent;
  padding: 1em;
 
  }

#box img{
 border: 1px solid white;
}

.columnfront {
  float: left;
  width: 33%;
  padding: 15px;
  text-align: left;
 }




/*DESIGN - snippet fra :http://www.lille-web.dk/css-galleri*/
  
  .galleri {
  position: relative;
  overflow: hidden;
  background: black;
  width: 100%;
  height: auto; 
  border-radius:1em;
  box-shadow: 3px 3px 3px #666;
}

.galleri img{
 width: 100%;
 height: auto;
}

.galleri dt  {
position: relative;
  width: 200px;
  height: 200px;
  margin:1em;
  cursor: pointer;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #666;
  overflow: hidden;
  -webkit-transition: 1s all;
}
.galleri dt:hover {
  box-shadow: 3px 3px 3px #fff;
}
.galleri dd {
  position: absolute;
  left : 700px;
  top: 2em;
  width: 600px;
 height: 600px;
  background:none;
  opacity: 0;
  -webkit-transition: 1.5s all;
}

.galleri dt:hover + dd {
   opacity: 1;
}


 /* FOOTER */


footer {
   width: 100%;
   background-color: transparent;
   border: 1px solid whitesmoke;
   border-bottom: 0px
  
  }

 

 .flex-footer {
  display: -webkit-flex;
  display:flex;
  margin-top: 1px;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  color: white;
 }
 .footer-item {
  height: 100px;
  margin: 25px;
 }
 .footer-item p {
  color: white;
  line-height: 0.25;
 }
 
 .socialicon {
        display: inline-block;
        width: 50px;
    }

    .socialicon:hover {
        display: inline-block;
        width: 50px;
    }

    .fa {
        color: white;
    }

 /* LAPTOP */

@media (min-width:1024) and (max-width:1440px)



 /* IPAD */

  @media (min-width:601px) and (max-width:1023px)
 
 
  .column {
   width: 100%;
  }
  
  .topnav {
   padding: 14px 18px;
   float:;
   
  }
  
  .topnav a {
   float:;
   padding: inherit;
  }
  
  .flex-box {
   padding: 1px 20px;
   display: inline-block;
   justify-content: space-between;
  background-color: transparent;
   
  }
  
  .flex-box img {
   padding: 0px;
   float: none;
  }
  
  
  .galleri img{
   width:100%;
   height: auto;
  }
  
  .galleri dt{
   width: 150px;
   height: auto;
   left:10px;
  
  }
  
  .galleri dd {
  position: absolute;
  left : 200px;
  top: 10em;
  width: 600px;
 height: 600px;
  background:none;
  opacity: 0;
  -webkit-transition: 1.5s all;
}
  
  
  
 
  .socialicon {
        display: inline-block;
        width: 50px;
   flex-direction: row;
   }

  
  }
  
  #box{
  
  padding: 1px 20px;
   display: inline-block;
   justify-content: space-between;
  background-color: transparent;
   
  
  }
 
#box img{
 padding: 0px;
   float: none;
}
 



/* MOBIL */


 @media (min-width:320px) and (max-width:600px) {
  .column {
   width: 100%;
  }
  
  .topnav {
   padding: 14px 15px;
   float: ;
  }
  
  .topnav a {
   float: none;
  }
  
  .flex-box {
   padding: 1px 10px;
   display: inline-block;
   justify-content: space-between;
  background-color: transparent;
   
  }
  
  .flex-box img {
   padding: 0px;
   float: none;
  }
  
  
  .galleri img{
   width:100%;
   height: auto;
  }
  
  .galleri dt{
   width: 100px;
   height: 50px;
   left:10px;
  
  }
  
  .galleri dd {
  position: absolute;
  top: 2em;
  width: 250px;
 height: 250px;
 opacity: 0;
  -webkit-transition: 1.5s all;
}
  
  #forside{
   
   float: none;
   padding:none;
   display: inline-block;
   
   
  }
  
  #box{
   padding: 1px 40px;
   display: inline-block;
   justify-content: space-between;
  background-color: transparent;
   
  }
  
 #box img{
 padding:0px;
   float: none;
}
  
  
  
  
  footer b {
   color: white;
   
  }
  
  .footer-item p {
   color: white;
   width: 170px;
  margin: 25px;
  margin-left: -10px;}
  

 footer p {
   color: transparent;
  }
  
  .socialicon {
        display: inline-block;
        width: 50px;
   flex-direction: row;
   }
  
.logo {
  margin: 1px;
  
 
 }
 .logo img {
  max-width: 50px;
  height: auto !important;
 }


 
  
